body {
    background-color: white;
}
.Header{
    width: 100%;
    height:500px;
    background-color: #0d3625;
    background-size: cover;
    background:no-repeat;
    margin: auto;
    margin-top:0;
    position: relative;
}
.Header{
    /*height: 600px;*/
    width: 100%;
    margin: auto;
}
.header_logoNav{
    /*width: 100%;*/
    height: 100px;
}

.Main_logo{
    float: left;
    width: 40%;
    height: 100px;
}
.navbar-fixed-top{
    width:100%;
}
.navbar-fixed-top .Main_logo{
    height: 100px;
    float: left;
    width: 40%;
}
.Main_logo img{
    height: 40px;
    width:10%;
    margin-left: 110px;
    margin-top: 30px;
    float: left;
    position: absolute;
}

.navbar-fixed-top .Navbar{
    float: right;
    width: 60%;
    height: 100px;
    background-color: darkorange;
}
.navbar-toggle .Navbar button ul{
    background-color: wheat;
    margin: auto;
}
.Navbar::after{
    content: "";
    border-color: transparent darkorange darkorange transparent ;
    border-width: 50px;
    border-style: solid;
    right: 100%;
    top: 0;
    margin-right:0px;
    position: absolute;

}
.Navbar ul{
  margin-top:28px;
}
.Navbar .nav-pills .nav-justified ul li {
    float: right;
    list-style-type: none;
    text-decoration: none;
    padding-left: 10px;
    margin-top: 40px;
    margin-right: 20px;
}
.Navbar ul{
    padding-right: 10px;
}
.Navbar li a{
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
li a:hover{
    color: deepskyblue;
}

.Text{
    width:55%;
    height:100px;
    background-color:rgba(0,0,0,0.54);
    position:absolute;
    top:250px;
    margin-left:150px;
    left:10%;
    text-align:center;
}
.Text p{
    color:white;
    margin-top: 10px;
    text-indent:20px;
}
.ButtonHead{
    position:absolute;
    top:120px;
    left:40%;
    background-color:#DFD10F;
    padding:10px;
    border:none;
    font-weight:bold;

}
.ButtonHead:hover{
    opacity:0.7;
    color:white;
}

.Body{
    width:100%;
    height:1000px;
    margin: auto;
    background-color:white;

}

.Body h1{
    width: 100%;
    font-size: 20px;
    color:DarkOrange;
    text-align: center;

}
.Body span{
    font-size: 20px;
    color: yellow;
}
.Image{
    position: relative;
}
.Image img{
    width:100%;
    height:300px;
    background-color: #0d3625;
    background-size: cover;
    background:no-repeat;
    margin: auto;
}

.LogoImage{
    position: absolute;
    margin-left: 20px;
    top:20px;

}
.LogoImage span{
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-right: 10px;
    position: relative;
    top: 10%;
    margin-left:-5px;
    border-radius: 5px;
    border:inset 1px;
    border-right: none;
    margin-top: 0;
}

.IntermodalService h2{
   margin-right:500px;
    color: blue;
    font-size:20px;
}
.IntermodalService p{
    font-size:15px;
    color: black;
    text-align: justify;
    opacity:.8;
}

 .IntermodalService hr{
    width: 10%;
    margin-top: 5%;
    left: 200px;
     margin-right: 100px;
     border: 1px solid darkorange;

}
.FreightForwarding h2{
    margin-right:500px;
    color: blue;
    font-size:20px;
}

.FreightForwarding p{
    font-size: 15px;
    color: black;
    text-align: justify;
}

.FreightForwarding hr{
    width: 10%;
    margin-top:5%;
    right:200px;
    margin-left: 180px;
    border: 1px solid darkorange;

}
.CustomHouseBrokerage h2{
    color: blue;
    margin-right: 460px;
    font-size: 20px;

}
.CustomHouseBrokerage p{
    font-size: 15px;
    color: black;
    text-align: justify;
}

.CustomHouseBrokerage hr{
    width: 10%;
    margin-top: 10%;
    left: 200px;
    margin-right: 100px;
    border: 1px solid darkorange;

}
.WarehousingDistibution h2{
    font-size: 20px;
    margin-right:460px;
    color: blue;
}
.WarehousingDistibution p{
    color: black;
    font-size: 15px;
    text-align: justify;
}

.WarehousingDistibution hr{
    width: 10%;
    margin-top:5%;
    border: 1px solid darkorange;
    right: 200px;
    margin-left: 180px;
}
.ImagenearFooter{
    background-size: cover;
    background:no-repeat;
    margin: auto;

}
.TextnearFooter{
    width:60%;
    position:absolute;
    top:100px;
    margin-left:100px;
    left:10%;
    text-align:center;
}
.TextnearFooter p{
    color:white;
    font-size: 15px;
    text-indent:10px;
}
.ButtonnearFooter{
    position:absolute;
    top:150px;
    left:40%;
    background-color:#DFD10F;
    padding:10px;
    border:none;
    font-weight:bold;

}
.ButtonnearFooter:hover{
    opacity:0.7;
    color:white;
}

/*.Footer{*/
    /*width: 100%;*/
    /*height:500px;*/
    /*background-color:yellow;*/
    /*text-decoration: none;*/
/*}*/
.Footer h1{
    /*font-size: 15px;*/
    /*margin-top:50px;*/
    color:darkorange;
    text-align: center;
}
.social_item{
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: -110px;
}
.social_item p{
    font-size: 25px;
    color: darkorange;
    margin-left: 610px;
    margin-top: 240px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 5%;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    margin-top: 170px;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 30px;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-left: 30px;
}
.fa-youtube {
    background: #bb0000;
    color: white;
    margin-left: 30px;
}

.fa-instagram {
    background: #125688;
    color: white;
    margin-left: 30px;
}
.fa-google-plus {
    background: #dd4b39;
    color: white;
    margin-left: 30px;
}
.End_footer{
    height: 240px;
    width: 100%;
    margin: auto;
    background-color: orange;
}
.End_footer .NavbarFooter ul li {
    list-style-type: none;
    text-decoration: none;
    padding-left: 10px;
    margin-top: 18px;
    margin-right: 50px;
    float: left;
}
.End_footer .NavbarFooter ul{
    padding-right: 10px;
    margin-left: 260px;
}
.End_footer .NavbarFooter li a{
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    list-style: none;
}
.End_footer .NavbarFooter li a:hover{
    color: darkorange;
}
.copyRight{
    width: 90%;
    position: absolute;
    margin: auto;
    margin-top: 120px;
}
.copyRight P{
    text-align: center;
    font-size: 20px;
}
.copyRight p strong{
    color: white;
}