body {
    background-color: white;
    font-family:'Roboto Condensed',sans-serif;
}

html{
    font-size: 10px;
}
.Header{
    width: 100%;
    height:600px;
    background-image: url('../image/new-slide-3.jpg');
    background-size: cover;
    background:no-repeat;
    margin: auto;
    margin-top:0;
    position: relative;
    /*display: flex;*/
    /*text-align: center;*/

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

}
.navbar{
    top:0;
    background-color: white;
    width: 100%;
}

.main_logo{
    border-style: none;
    height: 46px;
    vertical-align: inherit;
    z-index: 1;

}

.sub_logo{
    font-family: "Arial Narrow";
    font-size:15px;
    color:#5bc0de;

    z-index: 1;
}

.navbar-toggle{

    clear: both;
    margin-top: 45px;


}
#Listitem > a::after{
    /*margin-top: -20px;*/
    /*margin-right: 1px;*/
    position: absolute;
    top: -2px;
    right: 100%;
    content: '';
    border-width: 46px;
    border-style: solid;
    border-color: transparent #ffcc00 #ffcc00 transparent;
}

.navbar ul li a{
    color: white;
    display: inline-table;
    text-decoration: none;

}
.navbar ul li a:hover{
    background-color: inherit;
    text-decoration: none;
}
.navbar ul li a:focus{
    background-color: inherit;
}
/*active navbar with border bottom a*/
.nav-item>a.navbar-link.active::after{
    content: "";
    display: block;
    height: 2px;
    background-color: #fff;
    width: 20px;
    position: absolute;
    top: 0;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}
.navbar-brand{
    position: absolute;
    top: 7px;
    left: 30px;
}
/*responsive navbar for ipad*/
@media screen and (min-width: 768px) {
    .navbar ul li a {
        height: 90px;
        line-height: 50px;
        margin-right: 10px;
        font-size: 9px;
    }
    .logo img{
        width: 70px;
        height: 40px;
    }
    .logo p{
        font-size: 10px;
        margin-top: 5px;
        color: #0099ff;
    }
}

/*reponsive navbar for ipad pro and computer*/
@media screen and (min-width: 1024px) {
    .navbar ul li a {
        height: 90px;
        line-height: 50px;
        margin-right: 20px;
        font-size: 13px;
    }
    .logo img{
        width: 110px;
        height: 50px;
    }
    .logo p{
        font-size: 12px;
        margin-top: 5px;
        color: #0099ff;
    }
}

/*reponsive  navbar for type phone */
@media screen and (max-width: 415px) {
    .navbar ul li a {
        height: 30px;
        line-height: 15px;
        /*margin-right: 30px;*/
        font-size: 12px;
    }
    .logo img {
        width: 90px;
        height: 30px;
    }

    .logo p{
        margin-top: 0;
        font-size: 7px;
        color: #0099ff;
    }
}

.Text{
    width:60%;
    height:100px;
    top:-50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    position: absolute;


}

.Text1{
    height: 120px;
    margin-top: -10px;
    margin-left: 50px;


}

.Text1 p {
    color: white;
    font-size:17px;
    background-color:rgba(0,0,0,0.54);
    top: 20px;
    text-align:center;
    text-indent: 20px;
}

.ButtonHead {
    position: absolute;
    margin-top: 120px;
    left: 35%;
    background-color: #DFD10F;
    padding: 10px;
    border: none;
    font-weight: bold;

}

.ButtonHead:hover {
    opacity: 0.7;
    color: white;
}

.Body{
    width:100%;
    height:1500px;
    margin: auto;
    background-color:white;

}

.Body h1{
    width: 100%;
    font-size: 2em;
    color:DarkOrange;
    text-align: center;

}
.Body span{
    font-size: 20px;
    color: yellow;
}
.Image{
    position: relative;
}
/*.Image img{*/
    /*width:100%;*/
    /*height:500px;*/
    /*background-color: #0d3625;*/
    /*background-size: cover;*/
    /*background:no-repeat;*/
    /*margin: auto;*/
/*}*/

.LogoImage{
    position: absolute;
    margin-left: 20px;
    top:20px;

}
.LogoImage span{
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-right: 10px;
    position: relative;
    top: 10%;
    margin-left:-5px;
    border-radius: 5px;
    border:inset 1px;
    border-right: none;
    margin-top: 0;
}

.IntermodalService h3{
   /*margin-right:500px;*/
    color: blue;
    /*font-size:20px;*/
}
.IntermodalService p{
    font-size:15px;
    color: black;
    text-align: justify;
    opacity:.8;
}

 .IntermodalService hr{
    width: 5%;
    margin-top: 5%;
     text-align: center;
     border: 1px solid darkorange;

}
.FreightForwarding h3{
    /*margin-right:500px;*/
    color: blue;
    /*font-size:20px;*/
}

.FreightForwarding p{
    font-size: 15px;
    color: black;
    text-align: justify;
}

.FreightForwarding hr{
    width: 5%;
    margin-top:5%;
    text-align: center;
    /*right:200px;*/
    /*margin-left: 180px;*/
    border: 1px solid darkorange;

}
    .CustomHouseBrokerage h3 {
        color: blue;
        /*margin-right: 460px;*/
        /*font-size: 20px;*/
    }

    .CustomHouseBrokerage p {
        font-size: 15px;
        color: black;
        text-align: justify;
    }
.CustomHouseBrokerage hr{
    width: 5%;
    margin-top: 5%;
    border: 1px solid darkorange;

}
.WarehousingDistibution h3{
    color: blue;
}
.WarehousingDistibution p{
    color: black;
    font-size: 15px;
    text-align: justify;
}

.WarehousingDistibution hr{
    width: 5%;
    margin-top:5%;
    border: 1px solid darkorange;

}
.ImagenearFooter{
    background-size: cover;
    background:no-repeat;
    margin: auto;
    height: 300px;
    background-attachment: fixed;
    margin-top: 50px;

}
.Contain{
    width:100%;
    height:100%;
    background-image: url('../image/wharehouse.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.TextnearFooter{
    width:60%;
    position:absolute;
    top:80px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align:center;
}
.TextnearFooter p{
    color:white;
    font-size: 15px;
    text-indent:10px;

}
.ButtonnearFooter{
    position:absolute;
    top:180px;
    left:35%;
    background-color:#DFD10F;
    padding:10px;
    border:none;
    font-weight:bold;

}
.ButtonnearFooter:hover{
    opacity:0.7;
    color:white;
}

.Footer h1{
    color:darkorange;
    text-align: center;
}
.social_item{
    width: 100%;
    height: 130px;
    line-height: 150px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

.footer_text p{
    font-size: 25px;
    color: #f9c803;
    text-align: center;
    top:50px;
    margin-top: 50px;
    /*margin-left: 700px;*/
}
/*.fa {*/
/*padding: 20px;*/
/*font-size: 50px;*/
/*width: 5%;*/
/*text-align: center;*/
/*text-decoration: none;*/
/*border-radius: 10%;*/
/*margin-top:20px;*/
/*}*/

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-official {
    margin-left: 30px;
}

.fa-twitter {
    /*background: #55ACEE;*/
    /*color: white;*/
    margin-left: 30px;
}
.fa-youtube-play {
    /*background: #bb0000;*/
    /*color: white;*/
    margin-left: 30px;
}

.fa-instagram {
    /*background: #125688;*/
    /*color: white;*/
    margin-left: 30px;
}
.fa-google-plus {
    /*background: #dd4b39;*/
    /*color: white;*/
    margin-left: 30px;
}

.End_footer{
    height: 200px;
    width: 100%;
    margin: auto;
    background-color: orange;
}

.End_footer .NavbarFooter ul li {
    list-style-type: none;
    text-decoration: none;
    padding-left: 10px;
    margin-top: 18px;
    margin-right: 50px;
   float: left;
}
.End_footer .NavbarFooter ul{
    padding-right: 10px;
    margin-left: 100px;
}
.End_footer .NavbarFooter li a{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-left: 10px;
    padding: 20px;
    text-decoration: none;
    list-style: none;
}
.End_footer .NavbarFooter li a:hover{
    color: darkorange;
}
.copyRight{
    width: 90%;
    position: absolute;
    margin: auto;
}
.copyRight P{
    text-align: center;
    margin-top: 160px;
    margin-left: 40px;
    font-size: 15px;

}
.copyRight p strong{
    color: white;
}